@model OnlineShoppingStore.Models.UserAuthenticationModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/StyleSheet_authentication.css" rel="stylesheet" />
}

<div class="container">
    <h2>Login</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Username")
            @Html.TextBox("username", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Password")
            @Html.Password("password", null, new { @class = "form-control" })
        </div>

        <div class="for-button">
            <button type="submit" class="btn btn-primary">Login</button>
            <br />
            <br />
            <button type="button" class="btn btn-primary">Login as Admin</button>
        </div>
    }
</div>